<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>IFCloud Form Example</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    

    <div id="content">
        <div id="card">
            <div class="line">
                <h2>Json Padrão</h2>
            </div>

            <% 
            if(typeof response !== 'undefined') { 
                console.log(response);
            %>
                <div id="json" class="line">
                    <p>
                        {<br>
                            &nbsp;&nbsp;resourceType: '<%- response.resourceType %>',<br>
                            &nbsp;&nbsp;id: '<%- response.id %>',<br>
                            &nbsp;&nbsp;scriptName: '<%- response.scriptName %>',<br>
                            &nbsp;&nbsp;components: [<br>
                                <% response.components.forEach((component, index) => { %>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;index: '<%- component.index %>',<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;changeField: '<%- component.changeField %>',<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;returnOnlyFieldsComponent: <%- response.returnOnlyFieldsComponent %><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;}<% if (index < response.components.length - 1) { %>,<br><% } %>
                                <% }) %>
                            <br>
                                &nbsp;&nbsp;]
                            <br>
                        }
                    </p>                    
                </div>

                <div id="json" class="line">
                    <% response.components.forEach((component, index) => { %>
                        <p>
                        Campo Original: <%- component.originalComponent %><br>
                        Campo a ser Alterado: <%- component.changeField %><br>
                        </p>
                    <% }) %>
                </div>
            <% 
            } 
            %>
        </div>

        <div id="card">
            <div class="line">
                <h2>Campo(s) Alterado(s)</h2>
            </div>

            <%
            if(typeof data !== 'undefined') {
                console.log(data.valueSampledData);
            %>
            <div id="json" class="line">
                <% data.forEach((element, index) => { %>
                    <p class="line">
                        Period: <%- element.period %><br>
                        Factor: <%- element.factor %><br>
                        LowerLimit: <%- element.lowerLimit %><br>
                        UpperLimit: <%- element.upperLimit %><br>
                        Dimensions: <%- element.dimensions %><br>
                        Data: <%- element.data %><br>
                    </p>
                <% }) %>
            </div>
            <%
            }
            %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
<body>
</html>